  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Hayward Youth Fund</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <a class="navbar-brand" href="#">
        <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
      </a>
      <h5 class="my-0 mr-md-auto font-weight-normal">Hayward Youth Fund</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <!-- <a class="p-2 text-dark" href="#">Features</a> -->
        <a class="p-2 text-dark" href="https://haywardyouthfund.github.io">Home</a>
        <a class="p-2 text-dark" href="https://haywardyouthfund.github.io/about.html">About</a>
        <a class="p-2 text-dark" href="https://haywardyouthfund.github.io/partner.html">Partner</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Scholarship</a>
    </div>
  </head>

  <body>
    {{ content }}
  </body>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md">
          <h5>Hayward Youth Commission</h5>
          <h6>Scholarship Sub-Committee</h6>
          <h6>Hayward Youth Fund</h6>
          <small class="d-block mb-3 text-muted">&copy; 2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>External Links</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://www.hayward-ca.gov/">City of Hayward</a></li>
            <li><a class="text-muted" href="https://www.hayward-ca.gov/public-library">Hayward Library</a></li>
            <li><a class="text-muted" href="http://haywardrec.org/">Hayward Area Recreation and Park District</a></li>
            <li><a class="text-muted" href="http://www.husd.k12.ca.us/">Hayward Unified School District</a></li>
            <li><a class="text-muted" href="https://www.hayward-ca.gov/your-government/boards-commissions/hayward-youth-commission">Hayward Youth Commission</a></li>
            <!-- <li><a class="text-muted" href="#">Last time</a></li> -->
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Links</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Home</a></li>
            <li><a class="text-muted" href="#">About</a></li>
            <li><a class="text-muted" href="#">Become a Partner</a></li>
            <li><a class="text-muted" href="#">Scholarship</a></li>
          </ul>
        </div>
        <!-- <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div> -->
      </div>
    </div>

              <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                <script>
                  Holder.addTheme('thumb', {
                    bg: '#55595c',
                    fg: '#eceeef',
                    text: 'Thumbnail'
                  });
                </script>
              </footer>
              </html>
